.recipe{
    border-radius : 10px;
    box-shadow: 0px 5px 20px #002148;
    margin: 20px;
    display: flex;
    flex-direction : column;
    background: white;
    align-items: center;
    height: 500px;
    font-family: 'Sarala';
    color:#002148;
    justify-content: baseline;
    }

.image{
    border-radius : 10px 10px 0 0 ;
    width: 100%;
}

.text{
    height: max-content;
    white-space: pre-line;
}

.row{
    display: grid;
    gap: 12px;

}